@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root {
    --grey: #27343F;
    --white: #fff;
    --black: #000;
    --blue: #1700FFFF;
    --red: #ff0000;
    --green: #70c900;
    --surface: #16171B;
    --border: 1px solid #27343F;
    --br: 5px;
    --transition: all 0.3s;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(40deg, #51C0F7C9 0%, transparent, #3281A6E3 100%),
    radial-gradient(ellipse at 23% 70%, #FCFDFE 0%, #93D8FA 40%, #C7CDD0 75%, #EAECEE 95%, #456A7C 100%) 45% 55%/120% 105%;
    background-attachment: fixed;
}

button {
    margin-top: 4px;
    height: 36px;
    font-size: 14px;
    width: 182px;
    border-radius: 8px;
    background-color: #1f1f1f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #252a34;
    transition: all 0.3s;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
}

h1, p {
    color: var(--white);
}

span {
    color: var(--white);
}
